body {
    background-image:  url("../Images/Patisserie/Shiny\ Overlay.svg");
    background-size: cover;
}

@media (min-width: 700px) {
    h1 {
        background: radial-gradient(circle, rgb(150, 196, 255) 35%, rgb(88, 125, 173) 100%);
        width: fit-content;
        padding: 10px 30px 10px 30px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 30px;
        border: 3px black solid;
        border-radius: 30px;
        box-shadow: 3px 3px 5px black;
        font-weight: 500;
    }

    .olcards, .olcards {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .olcards {
        /* counter-reset: cardCount; */
        display: flex;
        flex-direction: column;
        --cardsGap: 1.5rem;
        gap: var(--cardsGap);
        padding-bottom: var(--cardsGap);
        align-items: flex-start;
    }

    .container {
        display: flex;
        gap: 7em;
        margin-top: 20px;
    }

    .TIng {
        background-color: white;
        border-radius: 6px;
        border-collapse: collapse;
        min-height: 250px;
    }

    .ingredients {
        display: flex;
        margin-left: 50px;
        align-items: center;
    }
    
    .preparation {
        background-color: white;
        padding: 0px 80px 30px 20px;
        border-radius: 6px;
        border: 2px black solid;
        box-shadow: 6px 6px 20px;
    }
    
    .content {
        display: grid;
        background-color: var(--cardColor);
        --inlinePadding: -5em;
        --boxPadding: 0.5em;
        padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
            var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
        grid-template-areas:
            "icon title"
            "icon text";
        gap: 0.5em 1em;
        clip-path: polygon(
            0 0,
            calc(100% - var(--arrowClipSize)) 0,
            100% 50%,
            calc(100% - var(--arrowClipSize)) 100%,
            calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
            0 calc(100% + var(--cardsGap)));
    }
    
    .licard {
        counter-increment: cardCount;
        display: flex;
        color: white;
        --labelOffset: 6rem;
        --arrowClipSize: 1.5rem;
        margin-top: var(--labelOffset);
    }

    .icon {
        grid-area: icon;
        align-self: center;
    }
    
    .title {
        font-family: 'Roboto', sans-serif;
        grid-area: title;
        align-self: center;
        font-size: 1.25em;
    }
    
    .text {
        grid-area: text;
        width: 1000px;
        font-size: 1.1em;
    }

    .Eximg {
        max-height: 120px;
        border-radius: 20px
    }

    #logo {
        height: 70px;
        margin: 20px;
    }

    .titrePrep {
        text-decoration: underline;
        font-family: 'Dancing Script', cursive;
        font-size: 1.6em;
    }
}

@media (max-width: 700px) {
    h1 {
        background: radial-gradient(circle, rgb(150, 196, 255) 35%, rgb(88, 125, 173) 100%);
        width: fit-content;
        padding: 10px 30px 10px 30px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 30px;
        border: 3px black solid;
        border-radius: 30px;
        box-shadow: 3px 3px 5px black;
        font-weight: 500;
        font-size: 1.5em;
    }

    .olcards, .olcards {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .olcards {
        /* counter-reset: cardCount; */
        display: flex;
        flex-direction: column;
        --cardsGap: 1.5rem;
        gap: var(--cardsGap);
        padding-bottom: var(--cardsGap);
        align-items: flex-start;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        gap: 2em;
        margin-top: 10px;
    }

    .TIng {
        background: radial-gradient(circle, rgba(225,225,225,1) 0%, rgba(232,232,232,1) 100%);
        border-radius: 6px;
        border-collapse: collapse;
        min-height: 250px;
    }

    .ingredients {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .preparation {
        background: radial-gradient(circle, rgba(225,225,225,1) 0%, rgba(232,232,232,1) 100%);
        padding: 0px 80px 30px 20px;
        border-radius: 6px;
        border: 2px black solid;
        box-shadow: 6px 6px 20px;
    }
    
    .content {
        position: relative;
        display: grid;
        width: 100%;
        background-color: var(--cardColor);
        --inlinePadding: -4.5em;
        --boxPadding: 0.5em;
        padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
            var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
        grid-template-areas:
            "icon title"
            "icon text";
        gap: 0.5em 1em;
        clip-path: polygon(
            0 0,
            calc(100% - var(--arrowClipSize)) 0,
            100% 50%,
            calc(100% - var(--arrowClipSize)) 100%,
            calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
            0 calc(100% + var(--cardsGap)));
        justify-content: start;
    }

    .licard {
        counter-increment: cardCount;
        display: flex;
        color: white;
        --labelOffset: 5rem;
        --arrowClipSize: 1.5rem;
        margin-top: var(--labelOffset);
        width: 100%;
    }

    .icon {
        grid-area: icon;
        align-self: center;
    }
    
    .title {
        grid-area: title;
        align-self: center;
        font-size: 1.25em;
    }
    
    .text {
        grid-area: text;
        width: fit-content;
        padding-right: 15px;
        font-size: 0.9em;
    }

    .Eximg {
        max-height: 110px;
        border-radius: 20px
    }

    #logo {
        display: block;
        height: 70px;
        margin: auto;
        padding-bottom: 10px;
    }

    .titrePrep {
        text-decoration: underline;
        padding-top: 5px;
        font-family: 'Dancing Script', cursive;
        font-size: 1.6em;
    }
}

#Tpat {
    border-collapse: collapse; 
    background:#e8e8e8;
    border-radius:6px;
    max-width:600px; 
    width:100%;
    margin: auto;
}   

.tdpat, .thpat {
    padding: 15px 20px 15px 20px;
}

#theadpat .thpat{ 
    background: #d6cfae;
    font-size:16px;
    text-align: left;
    padding: 15px;
}

#tbodypat tr {
    border-bottom:1px solid rgba(196, 196, 196, 0.402) ;
    &:last-child  { 
        border:0; 
    }
}

.liPrep {
    padding: 5px 5px 10px 5px;
    list-style-image: url(../Images/Patisserie/cuiller_bois.png);
}

.theadIng .thIng {
    background-color: var(--thcolor);
    padding: 15px;
}

.tdIng, .thIng {
    text-align: center;
    padding: 10px 15px 10px 15px;
    min-width: 220px;
}

.tbodyIng tr {
    border-bottom:1px solid #d5d5d5 ;
    &:last-child  { 
        border:0; 
    }
}

#Tpat a:link, a:visited {
    text-decoration: none;
    color: rgb(82, 27, 27);
    background-color: rgb(241, 241, 254);
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

#Tpat a:visited {
    border: 1px solid white;
}

.text p {
    margin: 0;
}