body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
}

footer {
    text-align: center;
    border: 1px black solid;
    background-color: white;
    border-radius: 10px;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#search-input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-input:focus {
    outline: none;
    border-color: #0066cc;
}

#search-input:focus {
    transform: scale(1.5);
}

/* #search-form button {
    padding: 2px 16px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    margin-left: -70px;
    border-radius: 30px;
    cursor: pointer;
} */

#search-form button:hover {
    background-color: #004499;
}

.result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    place-items: center;
    width: 50%;
    margin: auto;
}

.linkResult {
    border: 2px solid rgb(163, 80, 80);
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.linkResult:hover {
    background-color: rgb(224, 243, 255);
    transform: scale(1.1);
}

.C_erreur {
    border: 2px solid black;
    background-color: white;
    border-radius: 4px; 
    padding: 5px;
    width: fit-content;
    grid-column: 1 / 3;
}